<%= form_with(model: my_foo, local: true) do |form| %>
  <% if my_foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_foo.errors.count, "error") %> prohibited this my_foo from being saved:</h2>

      <ul>
      <% my_foo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
